label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 100px;
}

#form {
	text-align: left;
	margin-right: 15px;
	padding-left: 20px;
	font-family:"Trebuchet MS";
	color:#797B7A;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}

button {
	background-color: purple;
	width: 15px;
}

.clearfix {
	padding-top: 10px;
}